<configuration>
  <system.webServer>
    <handlers>
      <add name="PHPHandler" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\bin\php\php-cgi.exe" resourceType="Unspecified" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>